.btn {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #ffffff;
  background-color: #9b91dc;
  margin-top: 10px;
  margin-left: 10px;
}

.btn:first-child {
  margin-left: 0;
}

.btn:hover,
.btn:focus {
  background-color: #8979eb;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
